<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ChromeDebugProfileDir" value="C:\\ChromeRemoteDebugProfile" />
      <add key="ChromeDebugPort" value="9323" />
      <add key="CollectionUrl" value="https://www.warmane.com/account" />
      <add key="AnchorText" value="Collect points" />

    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>